/**
 * 全局变量
 */

// --------------------------------------------------
// Colors
// --------------------------------------------------
$fcRed     = #fc2d2d //用于导航底色，菜单栏图标颜色、醒目按钮底色；重要文字颜色等
$fcOrange  = #ff6600 //用于强调的文字、图标
$fcYellow  = #f39800
$fcBlack   = #3b3b3b //用于默认文字信息；确认或者不可更改信息
$fcGrey    = #666666 //用于菜单栏图标以及文字；内页标题信息
$fcGreyish = #999999 //用于次要的辅助性；描述性文字；输入框默认文字
$fcGreyer  = #d2d2d2 //用于边框；模块分割线等
$fcGreiest = #e5e5e5
$fcWhite   = #ffffff
$fcBody    = #f1f1f1
$fcAcaRed  = #e42229 // 标志红色
$fcAcaBtn  = #39bb98 // 按钮背景色
$fcAcaBlue = #1d9ee0 // active 选中标识
$fcGray    = #eeeeee

// --------------------------------------------------
// Font Sizes
// --------------------------------------------------
$fontSmall  = 12px //特殊文字，用于区分买家、卖家，安装店小图标
$fontBase   = 14px //用于描述文字信息等。
$fontLarge  = 16px //大多数文字，用于模块标题、图标、输入框等
$fontLarger = 18px //用于顶部导航文字
